#peliculas img, #movie img{
    width: 100%;
    height: 100%;
}

@media(min-width:960px){
    #peliculas .col-md-3 .well{
        height: 250px;
    }   

    #peliculas .col-md-3 .img{
        height: 333px;
    }
}